{% extends "network/layout.html" %}
{%  load static %}
{% block body %}
    <p>
    <div class="container" id="h1">
        <h1> It's a Twitter-like social network website for making posts and following users.</h1>
    </div>
    <br>
        <div class="container">
             <div class="col-md-12 text-center">
                <a class="nav-link btn" style="width: 40%; font-size: 16px; height: 50px; line-height: 35px" href="/register">Click Here, If you are New !!</a>
            </div>
        </div>
    </p>


{% endblock %}
